/* src/App.css */

.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the page takes up at least the full viewport height */
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}
